
.header {
    background-color: #a901ec; 
    color: white; 
    display: flex; 
    align-items: center; 
    padding: 5px 10px; 
    border-radius: 0.5rem 0.5rem 0 0; 
    height: 40px;
}

.header2 {
    background-color: #007BFF; 
    color: white; 
    display: flex; 
    align-items: center; 
    padding: 5px 10px; 
    border-radius: 0.5rem 0.5rem 0 0; 
    height: 40px; 
}

.icon {
    width: 20px; 
    height: 20px; 
    margin-right: 8px; 
}

h1, h2 {
    text-align: center;
    text-size-adjust: text-3xl;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.text-box {
    width: 45%;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
    
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.formatted-box {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 50px;
    background-color: #f9f9f9;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#diffResult {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diff-line {
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.diff-line span {
    white-space: pre-wrap;
}

.green {
    color: green;
}

.red {
    color: red;
}

.diff-line {
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace; 
}


.center-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


















.custom-textarea {
    display: block; 
    padding: 10px; 
    width: 100%; 
    font-size: 0.875rem; 
    color: #1f2937; 
    background-color: #f3f4f6; 
    border-radius: 0.5rem; 
    border: 1px solid #d1d5db;
}

.custom-textarea-2 {
    display: block; 
    padding: 10px; 
    width: 100%;
    font-size: 0.875rem; 
    color: #1f2937; 
    background-color: #f3f4f6;
    border-radius: 0.5rem; 
    border: 1px solid #d1d5db;
}

.custom-textarea:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(126, 34, 206, 0.5); 
    border-color: #7c3aed; 
}

/* Estilos para el modo oscuro */
.dark .custom-textarea {
    background-color: #e5e7eb; 
    border-color: #e5e7eb; 
    color: white; 
}

.dark .custom-textarea::placeholder {
    color: #9ca3af; 
}

.dark .custom-textarea:focus {
    box-shadow: 0 0 0 3px rgba(126, 34, 206, 0.5); 
    border-color: #7c3aed; 
}


.custom-textarea-2:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
    border-color: #3b82f6; 
}

/* Estilos para el modo oscuro */
.dark .custom-textarea-2 {
    background-color: #e5e7eb; 
    border-color: #e5e7eb; 
    color: white; 
}

.dark .custom-textarea-2::placeholder {
    color: #9ca3af; 
}

.dark .custom-textarea-2:focus {
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
    border-color: #3b82f6; 
}






.custom-button-format {
    margin-top: 1.25rem; 
    margin-bottom: 1.25rem; 
    color: white; 
    background: linear-gradient(to right, #a901ec, #a855f7, #9333ea); 
    padding: 0.625rem 1.25rem; 
    border-radius: 0.5rem;
    font-size: 0.875rem; 
    font-weight: 500;
    text-align: center; 
    cursor: pointer; 
    transition: background 0.3s; 
    box-shadow: 0 10px 15px -3px rgba(98, 34, 132, 0.5), 0 4px 6px -2px rgba(98, 34, 132, 0.5); /* shadow-lg shadow-purple-500/50 */
}

.custom-button-format:hover {
    background: linear-gradient(to bottom right, #a901ec, #a855f7); 
}


.dark .custom-button-format {
    background: linear-gradient(to right, #3b82f6, #3b82f6, #3b82f6); 
    box-shadow: 0 10px 15px -3px rgba(30, 58, 138, 0.5), 0 4px 6px -2px rgba(30, 58, 138, 0.5);
}


.custom-button-format:focus {
    outline: none; /* focus:outline-none */
    box-shadow: 0 0 0 4px rgba(98, 34, 132, 0.5); 
    border-color: #9333ea;
}




.custom-button-format2 {
    margin-top: 1.25rem; 
    margin-bottom: 1.25rem; 
    color: white; 
    background: linear-gradient(to right, #3b82f6, #3b82f6, #3b82f6);
    padding: 0.625rem 1.25rem; 
    border-radius: 0.5rem; 
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center; 
    cursor: pointer; 
    transition: background 0.3s; 
    box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.5), 0 4px 6px -2px rgba(59, 130, 246, 0.5); 
}


.custom-button-format2:hover {
    background: linear-gradient(to bottom right, #3b82f6, #3b82f6); 
}


.dark .custom-button-format2 {
    background: linear-gradient(to right, #2563eb, #2563eb, #2563eb); 
    box-shadow: 0 10px 15px -3px rgba(30, 58, 138, 0.5), 0 4px 6px -2px rgba(30, 58, 138, 0.5); 
}


.custom-button-format2:focus {
    outline: none; 
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); 
    border-color: #60a5fa; 
}



.custom-button-compare {
    margin: 0 auto; 
    color: white;
    background-color: #1d4ed8; 
    padding: 0.625rem 1.25rem; 
    border-radius: 9999px; 
    font-size: 0.875rem; 
    font-weight: 500;
    margin-bottom: 0.5rem; 
    cursor: pointer; 
    transition: background 0.3s; 
}


.custom-button-compare:hover {
    background-color: #1e40af;
}


.dark .custom-button-compare {
    background-color: #2563eb; 
}


.dark .custom-button-compare:hover {
    background-color: #1d4ed8; 
}


.custom-button-compare:focus {
    outline: none; 
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); 
    border-color: #60a5fa; 
}



#diffCount1{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    margin-left: 10px;
}

#diffCount2{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    margin-left: 10px;
}


.navbar-options{
    outline: none;
}


.red {
    color: red; 
    background-color: rgba(255, 99, 71, 0.3); 
}

.green {
    color: green; 
    background-color: rgba(144, 238, 144, 0.3); 
}

